<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dishcovery</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/mainPage.css}" />
    <link rel="stylesheet" th:href="@{/css/aiChatStyle.css}" />

</head>

<body>
<header class="topbar">
    <div th:insert="fragments/header :: site-header"></div>
</header>
<main class="chat-container">
    <div class="chat-header">
        🤖 Dishcovery AI 레시피 추천
    </div>

    <!-- 채팅 메시지 -->
    <div class="chat-messages" id="chat-box">
        <div class="message bot">
            <div class="bubble">
                안녕하세요 😊<br>
                가지고 있는 재료나 먹고 싶은 메뉴를 알려주세요!
            </div>
        </div>
    </div>

<!--    &lt;!&ndash; 레시피 결과 &ndash;&gt;-->
    <div id="recipes" class="recipe-recommend"></div>

    <!-- 입력 -->
    <div class="chat-input">
        <input type="text" id="user-input" placeholder="재료나 원하는 메뉴를 입력하세요">
        <button type="button" id="send-btn">전송</button>
    </div>

</main>

<script th:inline="javascript">
    /*<![CDATA[*/
    const userId = /*[[${userId}]]*/ 1;
    /*]]>*/


    function confirmLogout(){
        if(confirm("정말 로그아웃 하시겠습니까 ?")){
            window.location.href = "/logout";
        }
    }

</script>

<script src="/js/chat.js"></script>

</body>
</html>