<!DOCTYPE html>
<!-- fragments/header.html -->
<header th:fragment="site-header" class="topbar">
    <div class="container">

        <a class="brand" href="/MainPage">Dishcovery</a>

        <div class="search-wrap">
            <input type="text" placeholder="찾고싶은 레시피 또는 꿀팁 검색하세요" aria-label="검색" />
            <button class="icon-btn" aria-label="검색">
                <!-- search icon -->
                <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <circle cx="11" cy="11" r="7" stroke="currentColor" stroke-width="2"/>
                    <path d="M20 20L17 17" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </button>
        </div>

      <div th:if="${isLoggedIn}" class="auth">
          <a href="/myPage" class="auth">
            <span class="user-icon" aria-hidden="true"  th:text="${userName} + '님'"></span>
          </a>

          <a href="/logout" class="auth">
            <span class="user-icon" aria-hidden="true">로그아웃</span>
          </a>
      </div>

      <div th:unless="${isLoggedIn}" class="auth">
          <a href="/dishcovery_login?gubun=login" class="auth">
            <span class="user-icon" aria-hidden="true">로그인 </span>
          </a>
          <a href="/dishcovery_login?gubun=sign" class="auth">
            <span class="user-icon" aria-hidden="true">회원가입</span>
          </a>

      </div>


    </div>
    <hr class="divider" />




</header>


