<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dishcovery</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/mainPage.css}" />
</head>
<body>
    <form id="mainForm" name="mainForm" method="get" th:action="@{/searchRecipe}">
        <div th:insert="fragments/header :: site-header"></div>

        <input type="hidden" id="recipeId" name="recipeId">
        <input type="hidden" id="gubun" name="gubun" value="recipe">

        <main class="page">
          <section class="controls container">
            <div class="segmented" role="tablist" aria-label="콘텐츠 종류">
                <button type="button"   th:class="${rcpClassNm}"
                                        onclick="handleSegmentClick(this, '/pageGubun?gubun=recipe')"
                                        role="tab" aria-selected="true">레시피</button>

                <button type="button"   th:class="${rankClassNm}"
                                        onclick="handleSegmentClick(this, '/pageGubun?gubun=rank')"
                                        role="tab" aria-selected="false">랭킹</button>
                <button type="button"   th:class="${lastClassNm}"
                                        onclick="handleSegmentClick(this, '/pageGubun?gubun=last')"
                                        role="tab" aria-selected="false">룰렛추천</button>
            </div>
<!--              -->
<!--            <div class="sorts" aria-label="정렬">-->
<!--              <span class="dot">·</span>-->
<!--              <button class="sort active"   data-sort="popular">인기순</button>-->
<!--              <span class="dot">·</span>-->
<!--              <button class="sort"  data-sort="recommend">추천순</button>-->
<!--              <span class="dot">·</span>-->
<!--              <button class="sort" data-sort="latest">최신순</button>-->
<!--            </div>-->
          </section>-

          <section class="content container">
              <div class="recipe-grid" id="recipeListContainer">
              <!-- 반복 영역 -->
                  <div class="recipe-card" th:each="recipe : ${recipes}" th:attr="data-recipe-id=${recipe.recipeId}"
                       onclick="selectDetail(this.dataset.recipeId)">
                      <img th:src="${recipe.imgUrl}" alt="레시피 이미지">
    <!--                  <div class="recipe-title" th:text="${recipe.title}"></div>-->
                      <!-- 제목 + 조회수 -->
                      <div class="recipe-info">
                          <div class="recipe-title" th:text="${recipe.title}"></div>

                          <!-- 조회수 표시 -->
                          <div class="recipe-views">
                              👁 <span th:text="${recipe.viewCount}"></span>
                          </div>
                      </div>
                  </div>
             </div>
          </section>
        </main>
    </form>


    <script th:src="@{/js/mainPage.js}"></script>
</body>
</html>