<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dishcovery.mapper.RecipeAppMapper">


    <select id="getAppRecipes" resultType="com.spring.dishcovery.entity.RecipeAppVo">
        SELECT RECIPE_ID
             ,USER_ID
             ,CATEGORY_ID
             ,TITLE
             ,RCP_DISC
             ,COOK_TIME
             ,COOK_DFCT
             ,RGT_DATE
             ,UPD_DATE
             ,IMG_URL
             ,RECIPE_INGR
             ,RECIPE_TIP
             ,RECIPE_TAG
             ,VIEW_COUNT
        FROM RECIPE_MASTER

    </select>

    <select id="getAllRecipes" resultType="com.spring.dishcovery.entity.RecipeVo">
        SELECT RECIPE_ID
             ,USER_ID
             ,CATEGORY_ID
             ,TITLE
             ,RCP_DISC
             ,COOK_TIME
             ,COOK_DFCT
             ,RGT_DATE
             ,UPD_DATE
             ,IMG_URL
             ,RECIPE_INGR
             ,RECIPE_TIP
             ,RECIPE_TAG
             ,VIEW_COUNT
        FROM RECIPE_MASTER

    </select>

    <select id="getRankList" resultType="com.spring.dishcovery.entity.RecipeVo">

       SELECT RECIPE_ID
            ,USER_ID
            ,CATEGORY_ID
            ,TITLE
            ,RCP_DISC
            ,COOK_TIME
            ,COOK_DFCT
            ,RGT_DATE
            ,UPD_DATE
            ,IMG_URL
            ,RECIPE_INGR
            ,RECIPE_TIP
            ,RECIPE_TAG
            ,VIEW_COUNT
            ,ROW_NUMBER() OVER (ORDER BY VIEW_COUNT DESC) RANK_STR
       FROM RECIPE_MASTER
       ORDER BY VIEW_COUNT DESC
           LIMIT 3
    </select>

    <select id="getRankData" parameterType="string" resultType="com.spring.dishcovery.entity.RecipeVo">

       SELECT RECIPE_ID
             ,USER_ID
             ,CATEGORY_ID
             ,TITLE
             ,RCP_DISC
             ,COOK_TIME
             ,COOK_DFCT
             ,RGT_DATE
             ,UPD_DATE
             ,IMG_URL
             ,RECIPE_INGR
             ,RECIPE_TIP
             ,RECIPE_TAG
             ,VIEW_COUNT
             ,RANK_STR
        FROM (SELECT RECIPE_ID
                   ,USER_ID
                   ,CATEGORY_ID
                   ,TITLE
                   ,RCP_DISC
                   ,COOK_TIME
                   ,COOK_DFCT
                   ,RGT_DATE
                   ,UPD_DATE
                   ,IMG_URL
                   ,RECIPE_INGR
                   ,RECIPE_TIP
                   ,RECIPE_TAG
                   ,VIEW_COUNT
                   ,ROW_NUMBER() OVER (ORDER BY VIEW_COUNT DESC) RANK_STR
              FROM RECIPE_MASTER
             ) DT
        WHERE DT.RANK_STR = #{rankId}
        ORDER BY VIEW_COUNT DESC
            LIMIT 3

    </select>

    <select id="getRoulleteData" resultType="com.spring.dishcovery.entity.RecipeVo">
        SELECT RECIPE_ID
             ,USER_ID
             ,CATEGORY_ID
             ,TITLE
             ,RCP_DISC
             ,COOK_TIME
             ,COOK_DFCT
             ,RGT_DATE
             ,UPD_DATE
             ,IMG_URL
             ,RECIPE_INGR
             ,RECIPE_TIP
             ,RECIPE_TAG
             ,VIEW_COUNT
        FROM RECIPE_MASTER
    ORDER BY RAND()
       LIMIT 7
    </select>

    <select id="getSearchRecipes"  resultType="com.spring.dishcovery.entity.RecipeVo" >
       SELECT RECIPE_ID
             ,USER_ID
             ,CATEGORY_ID
             ,TITLE
             ,RCP_DISC
             ,COOK_TIME
             ,COOK_DFCT
             ,RGT_DATE
             ,UPD_DATE
             ,IMG_URL
             ,RECIPE_INGR
             ,RECIPE_TIP
             ,RECIPE_TAG
             ,VIEW_COUNT
        FROM RECIPE_MASTER
       WHERE TITLE LIKE '%' ||  #{searchName} || '%'

    </select>

    <select id="getMyRecipes" parameterType="string"    resultType="com.spring.dishcovery.entity.RecipeVo" >
        SELECT RECIPE_ID
             ,USER_ID
             ,CATEGORY_ID
             ,TITLE
             ,RCP_DISC
             ,COOK_TIME
             ,COOK_DFCT
             ,RGT_DATE
             ,UPD_DATE
             ,IMG_URL
             ,RECIPE_INGR
             ,RECIPE_TIP
             ,RECIPE_TAG
             ,VIEW_COUNT
            FROM RECIPE_MASTER
            WHERE USER_ID =  #{userId}

    </select>


    <insert id="SaveRecipeData" parameterType="com.spring.dishcovery.entity.RecipeVo">

        INSERT INTO RECIPE_MASTER(
                  RECIPE_ID
                 ,USER_ID
                 ,CATEGORY_ID
                 ,TITLE
                 ,RCP_DISC
                 ,COOK_TIME
                 ,COOK_DFCT
                 ,RGT_DATE
                 ,UPD_DATE
                 ,IMG_URL
                 ,recipe_ingr
                 ,recipe_tip
                 ,recipe_tag
        )

        VALUES (
                #{recipeId},
                #{userId},
                #{categoryId},
                #{title},
                #{rcpDisc},
                #{cookTime},
                #{cookDfct},
                NOW(),
                NOW(),
                #{imgUrl},
                #{recipeIngr},
                #{recipeTip},
                #{recipeTag}
              );
    </insert>

    <insert id="insertRecipeSteps"  parameterType="java.util.List">
        INSERT INTO RECIPE_STEP
                    (RECIPE_ID
                    ,STEP_ORDER
                    ,STEP_DESCRIPTION
                    )
        VALUES
                <foreach collection="list" item="item" separator=",">
                    (
                    #{item.recipeId}
                    ,#{item.stepOrder}
                    ,#{item.stepDescription}
                    )
                </foreach>
    </insert>

    <select id="getRecipeDataDetail" parameterType="string"    resultType="com.spring.dishcovery.entity.RecipeVo" >
        SELECT RECIPE_ID
             ,USER_ID
             ,CATEGORY_ID
             ,TITLE
             ,RCP_DISC
             ,COOK_TIME
             ,COOK_DFCT
             ,RGT_DATE
             ,UPD_DATE
             ,IMG_URL
             ,recipe_ingr
             ,recipe_tip
             ,recipe_tag
        FROM RECIPE_MASTER
       WHERE RECIPE_ID =  #{recipeId}

    </select>

    <select id="selectStepList" parameterType="string"    resultType="com.spring.dishcovery.entity.RecipeVo">

        SELECT RECIPE_ID
              ,STEP_ORDER
              ,STEP_DESCRIPTION
          FROM RECIPE_STEP
         WHERE RECIPE_ID =  #{recipeId}
         ORDER BY STEP_ORDER

    </select>


    <!-- 유저의 조회 여부 확인 -->
    <select id="checkUserView" resultType="int">
        SELECT COUNT(*) CNT
          FROM RECIPE_VIEW_LOG
         WHERE RECIPE_ID = #{recipeId}
           AND USER_ID = #{userId}
    </select>

    <!-- 조회 기록 저장 -->
    <insert id="insertUserView"      parameterType="string">
        INSERT INTO RECIPE_VIEW_LOG
                  ( RECIPE_ID
                   ,USER_ID
                   ,VIEWED_AT
                  )
            VALUES(
                    #{recipeId}
                   ,#{userId}
                   ,NOW()
                  )
    </insert>

    <!-- 레시피 조회수 증가 -->
    <update id="updateViewCount"   parameterType="string">
        UPDATE RECIPE_MASTER
           SET VIEW_COUNT = VIEW_COUNT + 1
         WHERE RECIPE_ID = #{recipeId}
    </update>



    <!--

    <insert id="rgtSingUp" parameterType="com.example.demo.domain.UserVO">
    </insert>
-->

</mapper>
