<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dishcovery.mapper.RecipeAppMapper">


    <select id="getAllRecipes" resultType="com.spring.dishcovery.entity.RecipeVo">
       SELECT RECIPE_ID
             ,USER_ID
             ,CATEGORY_ID
             ,TITLE
             ,RCP_DISC
             ,COOK_TIME
             ,COOK_DFCT
             ,RGT_DATE
             ,UPD_DATE
             ,IMG_URL
             ,STATUS
        FROM RECIPE_MASTER

    </select>

    <select id="getSearchRecipes"  resultType="com.spring.dishcovery.entity.RecipeVo" >
       SELECT RECIPE_ID
             ,USER_ID
             ,CATEGORY_ID
             ,TITLE
             ,RCP_DISC
             ,COOK_TIME
             ,COOK_DFCT
             ,RGT_DATE
             ,UPD_DATE
             ,IMG_URL
             ,recipe_ingr
             ,recipe_tip
             ,recipe_tag
        FROM RECIPE_MASTER
       WHERE TITLE LIKE '%' ||  #{searchName} || '%'

    </select>

    <select id="getMyRecipes" parameterType="string"    resultType="com.spring.dishcovery.entity.RecipeVo" >
            SELECT RECIPE_ID
                    ,USER_ID
                    ,CATEGORY_ID
                    ,TITLE
                    ,RCP_DISC
                    ,COOK_TIME
                    ,COOK_DFCT
                    ,RGT_DATE
                    ,UPD_DATE
                    ,IMG_URL
                    ,STATUS
            FROM RECIPE_MASTER
            WHERE USER_ID =  #{userId}

    </select>


    <insert id="SaveRecipeData" parameterType="com.spring.dishcovery.entity.RecipeVo">






    </insert>


    <!--

    <insert id="rgtSingUp" parameterType="com.example.demo.domain.UserVO">
    </insert>
-->

</mapper>
