<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dishcovery.mapper.UserMapper">

    <insert id="saveUserData" parameterType="com.spring.dishcovery.entity.UserEntity">
        INSERT INTO USER_MASTER (
                                 USER_ID,
                                 USER_NAME,
                                 USER_PSWD,
                                 USER_MAIL,
                                 JOIN_DATE,
                                 USER_ROLE,
                                 USER_STATUS

        ) VALUES (#{userId},
                  #{userName},
                  #{userPswd},
                  #{userMail},
                  NOW(),
                  'U',
                  'Y'
                )
    </insert>

    <select id="findByUserId" parameterType="string" resultType="com.spring.dishcovery.entity.UserEntity">
        SELECT USER_ID, USER_NAME, USER_PSWD, USER_MAIL, JOIN_DATE
        FROM USER_MASTER
        WHERE USER_ID = #{userId}
    </select>

    <select id="findRecommUser" parameterType="string" resultType="com.spring.dishcovery.entity.UserEntity">

        SELECT USER_ID,
               USER_NAME,
               USER_PSWD,
               USER_MAIL,
               JOIN_DATE,
               USER_IMG_PATH
        FROM USER_MASTER
        WHERE USER_ID != #{userId}
        ORDER BY RAND()
            LIMIT 5

    </select>

    <select id="findPasswordByUserId" resultType="string">
        SELECT USER_PSWD
        FROM USER_MASTER
        WHERE USER_ID = #{userId}
    </select>

    <update id="updateProfile" parameterType="com.spring.dishcovery.entity.UserEntity">

        UPDATE USER_MASTER
        SET USER_MAIL = #{userMail}
          ,USER_NAME = #{userName}
          ,USER_PSWD = #{newPw}
        WHERE USER_ID = #{userId}

    </update>

    <update id="updateProfileWithoutPwd" parameterType="com.spring.dishcovery.entity.UserEntity">

        UPDATE USER_MASTER
           SET USER_MAIL = #{userMail}
              ,USER_NAME = #{userName}
         WHERE USER_ID = #{userId}

    </update>


</mapper>